# 全ファイルのレビュワーを, adminチームに自動指定する
* @yamaoki-lab/admin

# スーパバイザは基本的にk-ngt (K) が担当するため, 自動レビュワー指定を個別に上書きする
# ("コードオーナーのレビュー必須" 設定は現状オフなので, 実際の必須承認は
# 引き続きRuleset側のadminチーム要件が担う. こちらは自動アサイン・所有の明示用途)
supervisor/ @k-ngt
